<section class="section hero_mod">
	<div class="hero_bg">
		{{ section.settings.background  | image_url: width: 400 | image_tag:
			class: 'cover_img',
			alt: 'Background'
		}}
	</div>

	<div class="section_in">
		<div class="hero height_mod">
			<div class="decor pos_1_mod size_1_mod v1_mod">
				{{ section.settings.decor_1  | image_url: width: 400 | image_tag:
					class: 'cover_img',
					alt: 'Decor'
				}}
			</div>
			<div class="decor post_2_mod size_2_mod v2_mod">
				{{ section.settings.decor_2  | image_url: width: 400 | image_tag:
					class: 'cover_img',
					alt: 'Decor'
				}}
			</div>
			<div class="decor pos_3_mod size_1_mod v3_mod">
				{{ section.settings.decor_3  | image_url: width: 400 | image_tag:
					class: 'cover_img',
					alt: 'Decor'
				}}
			</div>
			<h2 class="section_title lg_mod font_mod offset_mod">Don’t E<span class="size_in">F</span><span class="size_in_2">F</span> this up.</h2>
			<div class="section_descr center_mod offset_mod">Create awesome content in one shot!</div>
			<div class="btn_wrap center_mod offset_mod pos_mod"><a class="btn_base mob_sm_mod" href="#">Shop If Prompted</a>
				<div class="btn_pointer">Buy This!</div>
			</div>
			<div class="hero_main">
				<div class="hero_img">
					{{ section.settings.hero_main  | image_url: width: 400 | image_tag:
						class: 'contain_img',
						alt: 'Hero main img'
					}}
				</div>
				<div class="hero_text">
					<div class="hero_text_item"><strong>STURDY &</strong> PURDY</div>
					<div class="hero_text_item"><strong>ENDLESSLY</strong> REUSABLE</div>
					<div class="hero_text_item"><strong>FITS EVERY <br>LENS</strong> PERFECTLY</div>
					<div class="hero_text_item"><strong>LIFETIME</strong> GUARANTEE</div>
				</div>
			</div>
			<div class="hero_logo">
				{{ section.settings.hero_logo  | image_url: width: 400 | image_tag:
					class: 'cover_img',
					alt: 'Logo'
				}}
			</div>
		</div>
	</div>
</section>